#gglmps_settings_wrap .bws_pro_version_bloc {
	max-width: 100%;
}
.gglmps-snazzymaps-api {
	display: -webkit-flex;
	display:         flex;
	-webkit-flex-flow: row;
			flex-flow: row;
}
#gglmps_snazzymaps_api_key_value {
	margin-right: 15px;
	height: 27px;
}
.rtl #gglmps_snazzymaps_api_key_value {
	margin-right: 0;
	margin-left: 15px;
}
#gglmps_appearance_block .theme-browser .theme .theme-screenshot img {
	height: 100%;
	width: auto;
}
.gglmps-styles .theme-browser .theme .theme-actions {
	opacity: 1;
}
#gglmps_appearance_block .theme-browser {
	position: relative;
}
#gglmps_appearance_block .theme-browser .themes {
	padding-bottom: 0;
}
#gglmps_appearance_block .wp-filter {
	margin-top: 0;
	margin-bottom: 10px;
}
#gglmps-styles-navigation {
	text-align: right;
	margin-bottom: 0;
}
.rtl #gglmps-styles-navigation {
	text-align: left;
}
.gglmps-filter {
	margin-left: 4px;
	margin-right: 4px;
}
#gglmps_appearance_block .wp-filter-search {
	line-height: 28px;
	height: 28px;
	padding-bottom: 5px;
}
#gglmps_appearance_block .filter-links {
	margin-right: 15px;
}
.rtl #gglmps_appearance_block .filter-links {
	margin-left: 15px;
}
#gglmps_appearance_block .filter-links,
#gglmps_appearance_block .filter-links li {
	display: inline-block;
}
#gglmps_appearance_block .filter-links,
.gglmps-tag,
.gglmps-color {
	float: left;
}

.rtl #gglmps_appearance_block .filter-links,
.rtl .gglmps-tag,
.rtl .gglmps-color {
	float: right;
}
#gglmps_appearance_block .button.button-remove {
	background-color: #d33;
	border-color: #a00;
	color: #fff;
	-webkit-box-shadow: inset 0 1px 0 #ed7669, 0 1px 0 rgba(0, 0, 0, .08);
	box-shadow: inset 0 1px 0 #ed7669, 0 1px 0 rgba(0, 0, 0, .08);
}
#gglmps_appearance_block .button.button-remove:hover {
	background-color: #e33;
	border-color: #000;
	color: #fff;
}
#gglmps-styles-navigation select,
#gglmps-styles-navigation input,
#gglmps_appearance_block .tablenav,
#gglmps_appearance_block .dashicons-search {
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}
#gglmps_appearance_block .tablenav.top {
	display: inline-block;
	float: right;
}
.rtl #gglmps_appearance_block .tablenav.top {
	float: left;
}

#gglmps_appearance_block .pagination-links a,
#gglmps_appearance_block .pagination-links span {
	margin-left: 3px;
	margin-right: 3px;
}

@media screen and (max-width: 782px) {
	#gglmps_appearance_block .wp-filter-search {
		height: 36px;
		font-size: 16px;
		padding-bottom: 5px;
	}
	#gglmps_appearance_block .tablenav.bottom .displaying-num {
		display: none;
	}
	#gglmps_appearance_block .filter-links {
		display: block;
		width: 100%;
		text-align: left;
	}
	.rtl #gglmps_appearance_block .filter-links {
		display: block;
		width: 100%;
		text-align: right;
	}
}

@media only screen and (max-width: 480px) {
	.gglmps-snazzymaps-api {
		display: block;
		width: 100%;
	}
	#gglmps-styles-navigation select,
	#gglmps-styles-navigation input[type="text"] {
		display: inline-block;
		width: 100%;
		margin: 8px 0;
	}
	#gglmps_snazzymaps_key_submit,
	#gglmps-styles-navigation input[type="submit"] {
		display: block;
		margin: 15px auto;
	}
	#gglmps_appearance_block .tablenav.top .tablenav-pages,
	#gglmps_appearance_block .tablenav.bottom .tablenav-pages {
		margin-bottom: 0;
		margin-top: 0;
	}
	#gglmps_appearance_block .tablenav.top,
	#gglmps_appearance_block .tablenav.bottom {
		float: none;
		width: 100%;
		margin: 8px 0;
	}
}